/trunk/web/.settings
/trunk/web/.project
/doc
/trunk/web/wp-content/themes/twentyeleven
/trunk/web/wp-content/themes/twentyten
/trunk/web/wp-content/themes/twentythirteen
/trunk/web/wp-content/themes/twentytwelve
trunk/web/wp-content/plugins/sociable
