@charset "utf-8";


/*-----------------------------------------------*/
.mb_info_page, #mb_favorite_page {
	position:fixed;
	width:100%;
	height:100%;
	
	background-color: #FFFFFF;
	z-index:9999;
	top:0;
	left:0;
	text-align: left;
	display:none;
}/************************zdd**********************/
.mb_info_page_sub {
    padding: 0px 15px;
    border-top: 1px;
    border-top-style: solid;
    border-top-color: #E2E2E2;
}

.mb_info_page_sub .title_area{
	font-size: 22px;
	color: #415560;
	font-family: "Microsoft YaHei";
}
.mb_info_page_sub .text_area{
	line-height: 28px;
	font-size: 16px;
	color: #415560;
	font-family: "Microsoft YaHei";
}/************zdd***************************/
/*
.mb_comment_loading {
	display:none;
}

#mb_comment_circle{
	margin-top:8px;
	float:left;
}
.mb_comment_circle{
	background-color:#CCC;
	float:left;
	height:15px;
	margin-left:8px;
	width:15px;
	-webkit-animation-name: mb_comment_circle;
	-webkit-border-radius:10px;
 	-webkit-animation-duration: 1.5s;
 	-webkit-animation-iteration-count: infinite;
 	-webkit-animation-direction: linear;
	opacity:0.3;
}
#mb_comment_circle_1{
 	-webkit-animation-delay: .3s;
 }
#mb_comment_circle_2{
 	-webkit-animation-delay: .7s;
}
#mb_comment_circle_3{
 	-webkit-animation-delay: .9s;
}
@-webkit-keyframes mb_comment_circle {
	0%{opacity:0.3;}
	50%{opacity:1;background-color:#111}
	100%{opacity:0.3;}
}
*/
.mb_comment_bottom {
	text-align: left;
}

#footer_favorite_frame {
	position:fixed;
	top: 0;
	left:0;
	bottom:0;
	z-index:9999;
	text-align: center;
	width:100%;
	height: 100%;
	display: none;
}
#footer_favorite {
	position: fixed;
	width:100%;
	height:228px;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(rgba(36, 38, 43, 0.6)),to(rgba(22, 24, 29, 0.92)));
	
	left:0;
	bottom:0;
	text-align: center;
	display: block;
	padding:0
}
#footer_favorite .mb_favorite_title {
	text-align: center;
	font-size: 18px;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 30px;
	border-bottom: 1px;
	border-bottom-color: rgba(224, 224, 224, 0.63);
	border-bottom-style: solid;
	font-weight: 100;
}/***********************zdd*********************/
#footer_favorite .mb_favorite_title_s {
	text-align: center;
	font-size: 18px;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 35px;

	font-weight: 100;
}/***************************zdd************************/

#footer_favorite #footer_favorite_favorite_wrap .mb_favorite_title a, 
#footer_favorite #footer_favorite_favorite_wrap .mb_favorite_title a:hover,
#footer_favorite #footer_favorite_share_wrap .mb_favorite_title_s a, 
#footer_favorite #footer_favorite_share_wrap .mb_favorite_title_s a:hover {
	font-weight: 200;
	font-style: normal;
	text-shadow: 0 0 0 #fff;
	color: #fff;
	text-decoration: none;
}

.mb_favorite_share_bottom {
	margin-top: 20px;
	position: absolute;
	width: 100%;
	bottom: 23px;
}
#favorite_footer {
	
	width: 100%;
	margin:20px 0px;
}

.btn_cancel_freeback, .btn_cancel_favorite {
	position: relative;
    width: 58%;
}

.ui-content {
	padding: 0px;
}
.ui-header-fixed {
	top: 0;
	padding-top: 0;
}
.doc_content {
	padding:2px;
}
.format-audio .audio-content {
	position: relative;
	}
.format-audio img.alignnone{
	margin:0px 0;
}
audio:not([controls]) {
display: none;
height: 0;
}
audio {
display: none;
height: 0;
}

.site-content{
   padding:0px 12px;
}

.entry-content {
	position: relative;
}
.mb_ad_link {
	margin: 0 auto;
	position: absolute;
	width: 100%;
	height: 42px;
	bottom: 26px;
	text-align:center;
	display:none;
}
.mb_ad_link_wrap {
	position: relative;
	line-height: 35px;
	background-color: rgba(224, 224, 224, 0.63);
	text-align:center;
	width: 160px;
	height: 38px;
	margin-left:auto;
	margin-right:auto;
}
.share_icon {
	display: inline;
}
.share_icon_wrap {
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	width: 60px;
	text-align: center;
}
.share_icon_wrap div {
	width:100%;
	text-align: center;
	margin: 5px;
}
.share_icon {
	margin: 0;
}
.mb_content {
	position: relative;
}

.doc_content {
	background-color:#FFFFFF;
}	
		
.preloader {
  position: absolute;
  left: -100px;
  top: 0;
  z-index: 9999;
  color: #555;
  text-align: center;
  line-height: 100px;
  height: 100%;
  width: 80px;
  opacity: 0;
  font-size: 12px;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  background: rgba(f,f,f,1);
}
.preloader.visible {
  left: 0;
  opacity: 1;
}

.preloader .loading {text-align:center;}

.preloader .loading span {
  display:inline-block;
  margin:0px 1px;
  width:20px;
  height:20px;
}

.preloader .loading span:nth-child(1) {
  -webkit-animation:loading 0.5s infinite alternate 0s;
  -moz-animation:loading 0.5s infinite alternate 0s;
  -ms-animation:loading 0.5s infinite alternate 0s;
  -o-animation:loading 0.5s infinite alternate 0s;
  animation:loading 0.5s infinite alternate 0s;
}

..preloader .loading span:nth-child(2) {
  -webkit-animation:loading 0.5s infinite alternate 0.2s;
  -moz-animation:loading 0.5s infinite alternate 0.2s;
  -ms-animation:loading 0.5s infinite alternate 0.2s;
  -o-animation:loading 0.5s infinite alternate 0.2s;
  animation:loading 0.5s infinite alternate 0.2s;
}

.preloader .loading span:nth-child(3) {
  -webkit-animation:loading 0.5s infinite alternate 0.4s;
  -moz-animation:loading 0.5s infinite alternate 0.4s;
  -ms-animation:loading 0.5s infinite alternate 0.4s;
  -o-animation:loading 0.5s infinite alternate 0.4s;
  animation:loading 0.5s infinite alternate 0.4s;
}

.preloader .loading span:nth-child(4) {
  -webkit-animation:loading 0.5s infinite alternate 0.6s;
  -moz-animation:loading 0.5s infinite alternate 0.6s;
  -ms-animation:loading 0.5s infinite alternate 0.6s;
  -o-animation:loading 0.5s infinite alternate 0.6s;
  animation:loading 0.5s infinite alternate 0.6s;
}

#mb_favorite_page_content{
   border-top: 1px;
   border-top-style: solid;
   border-top-color: #E2E2E2;
}